a {
    color: #17c2ba;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
    }
a:hover {
     color: #17c2ba ;
}


    
.resbtn {
    white-space: nowrap;
    line-height: 1.6;
    user-select: none;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #17c2ba;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    padding: 8px 30px;
    transition: all 0.3s ease;
    letter-spacing: 2px;
    border: 2px solid #17c2ba;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', helvetica, arial, san-serif;
    text-transform: uppercase;
}

.resbtn:hover {
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: 2px solid #17c2ba;
   color: #17c2ba;
}


.all-meal {
    position: relative;
    margin-top: 30px;
    border: 1px solid #e1e1e1;
}
.top {
    position: relative;
    float: none;
}
.top-img img {
    width: 100%;
}
.bg-gradient {
    top: 0;
    bottom: 2px;
    left: 0;
    right: 0;
	position: absolute;
	opacity: 0.5;
    background-image: linear-gradient(transparent, black 90%);
}
.logo-img {
    position: absolute;
    z-index: 716;
    bottom: -35px;
    margin-left: 20px;
}
.logo-img img {
	Width:100%;
	border:2px solid #fff;
	border-radius:5px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.top-text {
    position: absolute;
    bottom: -30px;
    width: 100%;
}
.heading {
    margin-left: 100px;
}
.heading h4 {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
}
.heading h4 a:hover{
    color: #fff;
}
.sub-heading {
    padding-top: 15px;
}
.sub-heading h5 {
    float: left;
    font-size: 14px;
    font-weight: 500;
    margin-left: 100px;
    margin-top: 4px;
	color:#000;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sub-heading a:hover {
	color:#ffa803;
}
.sub-heading p {
    float: right;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 500;
	color:#ffa803;
}
.bottom {
    margin-top: 53px;
}
.bottom-text {
    margin-left: 20px;
    margin-right: 20px;
}
.delivery {
    text-align: left;
    font-size: 14px;
    color: #847577;
    line-height: 29px;
    font-weight: 400;
}
.delivery i {
	margin-right:10px;
}
.time i {
	margin-right:8px;
}
.time {
    text-align: left;
    font-size: 14px;
    color: #847577;
    line-height: 29px;
    font-weight: 400;
}
.star {
    text-align: left;
    font-size: 14px;
    color: #ffa803;
    line-height: 29px;
    font-weight: 400;
	padding-top: 9px;
	margin-bottom:17px;
}
.star span{
	padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    background: #ffa803;
    border-radius: 50px;
	margin-left: 10px;
}
.comments {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    float: right;
    margin-top: 2px;
}
.comments i {
	margin-right:8px;
}
.comments a { 
	color:#847577;
	cursor:pointer;
}
.comments a:hover{ 
	color:#ffa803;
}
.meal-btn {
	margin-top:66px;
	text-align: center;
}
.m-btn {
    padding: 15px 28px;
}




